<% provide(:title, "All members") %>

<h1>All members</h1>
<div class="row">
  <div class="span4">
    <div class="div_search">
      <%= search_form_for @q do |f| %>
        <%= f.label :name_or_email_cont %>
        <%= f.search_field :name_or_email_cont, placeholder: "Input keywords to search" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="span8">
    <%= will_paginate %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  </div>
</div>